---
// src/pages/index.astro
import LayoutBase from '../layouts/LayoutBase.astro';
import ContenedorTotem from '../components/ContenedorTotem.astro';
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { especiesData } from '../data/especies';

// Transformamos el diccionario en un array indexable [id, datos] para el map
const especies = Object.entries(especiesData);
---

<LayoutBase title="Hill's | Selección de Mascota">
  <ContenedorTotem>
    <div class="flex flex-col h-full bg-[#dfecfc]">
      <Header/>
      {/* Sección Central: Interfaz Táctil de Selección (Corregido) */}
      <div class="flex flex-col flex-1 items-center justify-center px-12 gap-8">
        <h2 class="text-[#05316d] text-4xl font-extrabold tracking-tight text-center">
          Selecciona tu mascota
        </h2>
        <p class="text-gray-600 text-xl text-center max-w-xs">
          Explora los sistemas y descubre la nutrición ideal para su bienestar.
        </p>

        <div class="flex flex-col gap-12  w-full max-w-sm">
          {especies.map(([id, especie]) => (
            
            <a
              href={`/${id}`}
              class={`flex flex-col items-center gap-6 p-8 active:scale-95 transition-transform cursor-pointer `}
            >
              {/* Contenedor del Avatar Circular */}
              <div class={`w-80 h-80 rounded-full border-4 ${especie.colorAccent} overflow-hidden flex-shrink-0 bg-slate-800 shadow-inner`}>
                <img 
                  src={especie.imagenAvatar} 
                  alt={especie.nombre} 
                  class="w-full h-full object-cover pointer-events-none" 
                />
              </div>
              
              {/* Información y Acción */}
              <div class="flex-1 min-w-0">
                {/* <div class="text-white text-3xl font-black uppercase tracking-wide">{especie.nombre}</div> */}
                <div class={`${especie.colorBoton} text-white text-3xl uppercase  font-bold py-5 px-15 rounded-2xl mt-3 inline-block shadow-md`}>
                  {especie.nombre}
                </div>
              </div>
            </a>
          ))}
        </div>
      </div>
      <Footer/>
    </div>
  </ContenedorTotem>
</LayoutBase>